In [1]:
import numpy as np
import pandas as pd

In [2]:
airports = pd.read_csv('Data/airports.csv',names=['Airport', 'City', 'Country'])
airports = airports[1:]

In [3]:
airports
#airports.head(3)   ## first 3
#airports.tail(3)   ## last 3
#airports.shape     ## shape of dataframe
#airports.info()      ## info about 
#airports.describe()  # also usefull info about dataframe

          Airport        City         Country
1  Seattle-Tacoma     Seattle             USA
2          Dulles  Washington             USA
3        Heathrow      London  United Kingdom
4        Schiphol   Amsterdam     Netherlands
5          Changi   Singapore       Singapore
6         Pearson     Toronto          Canada
7          Narita       Tokyo           Japan

In [4]:
#airports[['Airport', 'Country']]
#airports.iloc[2:,:2]
#airports.iloc[:,[0,2]]
airports.loc[2:3,['Airport', 'Country']]

    Airport         Country
2    Dulles             USA
3  Heathrow  United Kingdom