In [1]:
import pandas as pd
delays_df = pd.read_csv('Data/flight_data.csv')
delays_df[['DISTANCE', 'CRS_ELAPSED_TIME', 'ARR_DELAY']]

        DISTANCE  CRS_ELAPSED_TIME  ARR_DELAY
0           1670               225      -17.0
1           1670               225      -25.0
2            580               105      -13.0
3            580               105      -12.0
4            580               100       -7.0
...          ...               ...        ...
299995       386                87       -7.0
299996       386                92      -13.0
299997       221                71       -2.0
299998       221                81      -13.0
299999       240                66        6.0

[300000 rows x 3 columns]

In [2]:
from sklearn.model_selection import train_test_split
delays_df.dropna(inplace=True)
x = delays_df.loc[:,['DISTANCE', 'CRS_ELAPSED_TIME']]
y = delays_df.loc[:,['ARR_DELAY']]

# create training and test data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42) # train = data that we use for training

In [3]:
# linear regression
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
# we train our algorithm
regressor.fit(x_train, y_train)

# are predicting values
y_pred = regressor.predict(x_test)
y_pred

array([[3.47739078],
       [5.89055919],
       [4.33288464],
       ...,
       [5.84678979],
       [6.05195889],
       [5.66255414]])

In [4]:
y_test

        ARR_DELAY
291483       -5.0
98997       -12.0
23454        -9.0
110802      -14.0
49449       -20.0
...           ...
209898      -20.0
22210        -9.0
165727       -6.0
260838      -33.0
192546        0.0

[88750 rows x 1 columns]

In [6]:
# MSE - mean squared error - mediana kwadratu błedu (błąd średniokwadratowy)
# MSE = mean((actuall_results - predicted) ** 2)
from sklearn import metrics

mse = metrics.mean_squared_error(y_test, y_pred)

In [7]:
# RMSE - root mean squared error - pierwiastek mediany kwadratu błędu
# sklearn doesn't contain RMSE but we can caulculate it with numpy!

import numpy as np
np.sqrt(mse)

47.4388502617115

you can find few more important accuracy algorithm [here](https://github.com/microsoft/c9-python-getting-started/blob/master/even-more-python-for-beginners-data-tools/13%20-%20Evaluating%20accuracy%20of%20a%20model%20using%20calculations/13%20-%20Evaluate%20accuracy.ipynb)